@model OncoDiagnose.Web.ViewModels.DrugViewModels.DrugEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Edit</h1>

<h4>Drug</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label" disabled="disabled"></label>
                <input asp-for="Id" class="form-control" disabled="disabled"/>
            </div>
            <div class="form-group">
                <label asp-for="NcitCode" class="control-label"></label>
                <input asp-for="NcitCode" class="form-control"/>
                <span asp-validation-for="NcitCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrugName" class="control-label"></label>
                <input asp-for="DrugName" class="form-control"/>
                <span asp-validation-for="DrugName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control"/>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedSynonyms" class="control-label"></label>
                <div class="table">
                    <table>
                        <tr>
                            @{
                                var cnt = 0;
                                foreach (var synonym in Model.Synonyms)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>

                                    <input type="checkbox"
                                           name="SelectedSynonyms"
                                           value="@int.Parse(synonym.Value)"
                                           @Html.Raw(Model.SelectedSynonyms.ToList().Contains(int.Parse(synonym.Value)) ? "checked=\"checked\"" : "")/>
                                    //@synonym.Value
                                    @: @synonym.Text
                                    @:</td>

                                }
                            }
                        </tr>
                    </table>
                </div>
            </div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

