@model OncoDiagnose.Models.Technician.Run

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Run</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishDate" class="control-label"></label>
                <input asp-for="FinishDate" class="form-control" />
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBase" class="control-label"></label>
                <input asp-for="TotalBase" class="form-control" />
                <span asp-validation-for="TotalBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeySignal" class="control-label"></label>
                <input asp-for="KeySignal" class="form-control" />
                <span asp-validation-for="KeySignal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalRead" class="control-label"></label>
                <input asp-for="TotalRead" class="form-control" />
                <span asp-validation-for="TotalRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsableRead" class="control-label"></label>
                <input asp-for="UsableRead" class="form-control" />
                <span asp-validation-for="UsableRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeanLength" class="control-label"></label>
                <input asp-for="MeanLength" class="form-control" />
                <span asp-validation-for="MeanLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedianLength" class="control-label"></label>
                <input asp-for="MedianLength" class="form-control" />
                <span asp-validation-for="MedianLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeLength" class="control-label"></label>
                <input asp-for="ModeLength" class="form-control" />
                <span asp-validation-for="ModeLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISPLoading" class="control-label"></label>
                <input asp-for="ISPLoading" class="form-control" />
                <span asp-validation-for="ISPLoading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolyClonal" class="control-label"></label>
                <input asp-for="PolyClonal" class="form-control" />
                <span asp-validation-for="PolyClonal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowQuality" class="control-label"></label>
                <input asp-for="LowQuality" class="form-control" />
                <span asp-validation-for="LowQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISPLoadingPic" class="control-label"></label>
                <input asp-for="ISPLoadingPic" class="form-control" />
                <span asp-validation-for="ISPLoadingPic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualityPic" class="control-label"></label>
                <input asp-for="QualityPic" class="form-control" />
                <span asp-validation-for="QualityPic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthPic" class="control-label"></label>
                <input asp-for="LengthPic" class="form-control" />
                <span asp-validation-for="LengthPic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

