@page
@using OncoDiagnose.Web.Utility
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="container">
    <div class="py-4 my-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row form-group d-flex justify-content-center">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h3 class="col-12 text-success text-center py-4">
                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                <strong>Đăng ký tài khoản người dùng</strong>
                            }
                            else
                            {
                                <strong>Đăng ký</strong>
                            }
                        </h3>
                        <hr />
                        <div class="py-2">
                            <input asp-for="Input.Name" placeholder="Họ và tên" class="form-control" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.PhoneNumber" type="text" placeholder="Số điện thoại" class="form-control" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.Email" type="email" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <input asp-for="Input.Password" type="password" placeholder="Mật khẩu" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <input asp-for="Input.ConfirmPassword" type="password" placeholder="Xác nhận mật khẩu" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <div class="form-group">
                                <label asp-for="Input.Role"></label>
                                @Html.DropDownListFor(m=> m.Input.Role, Model.Input.RolesList,
                            "Hãy chọn 1 vai trò", new {@class = "form-control"})
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.LaboratoryId"></label>
                                @Html.DropDownListFor(m=> m.Input.LaboratoryId, Model.Input.LaboratoriesList,
                            "Hãy chọn nơi xét nghiệm", new {@class = "form-control"})
                            </div>
                        }
                        <div class="py-2">
                            <button type="submit" class="btn btn-success form-control">Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
