@{
    ViewData["Title"] = "Trang chủ";
}

<div class="container-fluid mt-3">
    <div class="container py-5" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp'); ">
        <h1 class="display-5 fw-bold" style="color: rgb(255,255,255);font-weight: bold;padding-right: 80px;margin-left: 30px;"><strong>MỘT CÔNG CỤ HỖ TRỢ CHẨN ĐOÁN VÀ ĐIỀU TRỊ UNG THƯ</strong><br></h1>
        <p class="col-md-8 fs-6" style="color: rgb(255,255,255);margin-left: 30px;">Chẩn đoán dựa trên giải trình tự thế hệ tiếp theo (NGS) cho phép bác sĩ lâm sàng xác định giả lập các sự kiện gây ra bởi các tác nhân cụ thể trong các khối u riêng lẻ. Việc xác định đúng các tác nhân gây bệnh có thể cho phép bác sĩ lâm sàng dự đoán tốt hơn các phản ứng điều trị và cải thiện đáng kể việc chăm sóc bệnh nhân<br></p>
        <a class="btn btn-primary btn-lg" role="button" href="@Url.Action("Intro")" style="margin-left: 30px;font-family: Lora, serif;color: rgb(8,10,21);background: rgb(255,255,255);font-weight: bold;font-size: 16px;border-width: 3px;border-color: rgb(113,1,12);">Tìm hiểu thêm</a>
    </div>

    @*<div class="container">
        <p>Chỗ này để ghi thông tin về những đơn vị đã sử dụng phần mềm</p>
    </div>*@
</div>