@model dynamic

@{
    ViewBag.Title = "Ung thư vú";
    Layout = "_Layout";
}

<div class="row" id="body-row">
    @await Html.PartialAsync("_PartialSidebar")
    <!-- MAIN -->
    <div class="col">

        <div class="row">
            <div class="col">
                <div style="margin-top: 26px;">
                    <h1 style="font-weight: bold;">Ung thư vú</h1>
                    <p style="text-align: justify;padding-right: 15px;">Ung thư vú là một bệnh có biểu hiện không đồng nhất, nó có các phân nhóm phân tử khác nhau với ý nghĩa lâm sàng riêng biệt. Tính không đồng nhất giữa các khối u đề cập đến sự khác biệt về phân tử trong các khối u giữa các bệnh nhân khác nhau. Tính không đồng nhất trong khối u (không gian) đề cập đến sự khác biệt trong một khối u đơn lẻ và tính không đồng nhất theo thời gian đề cập đến những thay đổi theo thời gian trong quá trình phát triển của khối u và dưới áp lực điều trị ở một bệnh nhân. Mục tiêu bao trùm của y học chính xác là giải mã và nhắm vào sự không đồng nhất này, cho phép các bác sĩ điều chỉnh các phương pháp điều trị hiệu quả dựa trên cấu trúc phân tử chính xác của khối u.&nbsp;<br></p>
                    <div style="text-align: center;padding-right: 15px;">
                        <img class="img-fluid" src="~/photo/BreastCancer.jpeg" style="width: 500px;"/>
                        <p style="font-size: 12px;font-style: italic;padding-top: 5px;">Ảnh: Dải ruy băng màu hồng là biểu tượng quốc tế về nhận thức ung thư vú</p>
                    </div>
                    <p style="text-align: justify;padding-right: 15px;">Năm 2000, Perou và cộng sự đã mô tả bốn phân nhóm phân tử cơ bản của ung thư vú: Luminal A, Luminal B, HER2 được làm giàu và giống cơ bản. Có những khác biệt sinh học quan trọng cho phép phân nhóm ung thư vú thành các phân nhóm Luminal A hoặc Luminal B, mặc dù cả hai đều được xác định bằng biểu hiện của các con đường do hormone điều chỉnh. Ví dụ, ung thư Luminal B thường liên quan đến biểu hiện cao hơn của các gen liên quan đến tăng sinh và con đường tín hiệu HER2. Các khối u dạng đáy có biểu hiện cao hơn của các gen liên quan đến tăng sinh và các chất sừng thường được tìm thấy ở lớp đáy của biểu bì. Sự phân loại này đã cho chúng ta cái nhìn đầu tiên về sự phức tạp tồn tại bên trong các khối u có cùng nguồn gốc giải phẫu. Điều này cũng cho phép tiên lượng kết cục của bệnh nhân với các phân nhóm ung thư vú khác nhau và đánh giá các tổn thương điều trị cụ thể trong các phân loại phân tử này. Sự phát triển của các bộ phân loại đa gen như điểm tái phát gen Oncotype Dx 21, dấu hiệu gen Mammaprint 70 và xét nghiệm Prosigna dựa trên PAM50 đã nâng cao phương pháp điều trị bổ trợ cho bệnh nhân ung thư vú bằng cách xác định tập hợp con của bệnh ung thư vú dương tính với thụ thể hormone những bệnh nhân thu được ít lợi ích từ hóa trị bổ trợ và có thể được điều trị an toàn bằng liệu pháp nội tiết bổ trợ đơn thuần.&nbsp;<br></p>
                    <p style="text-align: justify;padding-right: 15px;">Kể từ đó, phân loại ung thư vú tiếp tục phát triển thông qua sự sẵn có của các nền tảng giải trình tự thế hệ tiếp theo thông lượng cao và các phân nhóm mới đã được xác định. Chúng ta cũng phát hiện ra rằng các khối u có thể thay đổi theo chiều dọc trong quá trình điều trị, dẫn đến thất bại trong điều trị và yêu cầu các phương pháp điều trị khác nhau. Có những thử nghiệm đang diễn ra xem xét các cơ chế phân tử của sự kháng thuốc khi tiến triển và các liệu pháp phù hợp để nhắm mục tiêu chính xác ở cấp độ cá thể.<br></p>
                    <div style="text-align: center;padding-right: 15px;">
                        <img class="img-fluid" src="~/photo/PrecisionMed.jpg" style="width: 500px;"/>
                    </div>
                    <p style="text-align: justify;padding-right: 15px;margin-top: 15px;">Sự xuất hiện của công nghệ mới, với các nền tảng chia sẻ dữ liệu và thiết kế thử nghiệm lâm sàng sáng tạo đã thúc đẩy y học chính xác đi đầu trong việc phát triển và chăm sóc thuốc cho bệnh nhân ung thư và thiết lập các mô hình phê duyệt thuốc mới. Trong năm 2017, 16 ứng dụng sinh học và phân tử nhỏ mới đã được FDA chấp thuận, 5 ứng dụng trong số đó có chỉ định ung thư vú, làm nổi bật tốc độ nhanh chóng mà các liệu pháp mới đang được cung cấp cho bệnh nhân của chúng tôi. Sự tiến bộ và mở rộng kiến ​​thức này cũng đã đặt ra một số thách thức mới. Có thể kể đến một vài cái tên: xác định các mục tiêu quan trọng về mặt chức năng từ hàng gigabyte dữ liệu gen/protein, lựa chọn bệnh nhân có nhiều khả năng được hưởng lợi nhất từ ​​các liệu pháp nhắm mục tiêu, đảm bảo quyền tiếp cận liệu pháp cho từng bệnh nhân, khắc phục tình trạng kháng thuốc và độc tính liên quan đến các liệu pháp mới như trạm kiểm soát các chất ức chế hiện đang được đưa vào các phác đồ điều trị ung thư vú và cho thấy ứng dụng hạn chế. Các nghiên cứu hợp tác đang diễn ra, chia sẻ kiến ​​thức và tài nguyên xuyên ngành, đồng thời đặt ra tiêu chuẩn cao hơn cho các tiêu chí thử nghiệm lâm sàng có ý nghĩa về mặt lâm sàng sẽ đảm bảo rằng thuốc chính xác cuối cùng sẽ mang lại lời hứa về các phương pháp điều trị và kết quả tốt hơn cho bệnh nhân ung thư vú.<br></p>
                </div>
            </div>
        </div>
    </div><!-- Main Col END -->
</div><!-- body-row END -->
