@{
    ViewData["Title"] = "Giới thiệu";
}

<!-- Bootstrap row -->
<div class="row" id="body-row">
    @await Html.PartialAsync("_PartialSidebar")
    <!-- MAIN -->
    <div class="col" style="margin-left: 5px;">
        <div class="row">
            <div class="col">
                <div style="margin-top: 26px;">
                    <h1 style="font-family: Lora, serif;font-weight: bold;">Một phương pháp chẩn đoán và điều trị ung thư tiềm năng</h1>
                    <p style="font-family: Lora, serif;text-align: justify;padding-right: 15px;">Ung thư là sự tăng sinh mất kiểm soát của các tế bào Đặc điểm nổi bật trong ung thư là sự giảm biệt hóa của các tế bào, xâm lấn xung quanh và di căn xa (qua đường máu và bạch huyết). Hệ thống miễn dịch dường như có vai trò quan trọng trong việc loại bỏ các ung thư sớm, suy giảm miễn dịch làm tăng nguy cơ nhiều loại ung thư đặc biệt là ung thư liên quan tới nhiễm virus và các ung thư của hệ bạch huyết và da. Đa số các ung thư hiện nay đều đã có thể chữa khỏi nếu được phát hiện ở giai đoạn sớm và điều trị kéo dài nếu bệnh phát hiện ở giai đoạn muộn.&nbsp;<br></p>
                    <div style="text-align: center;padding-right: 15px;">
                        <img class="img-fluid" src="~/photo/doctors-cancer-patient-videoSixteenByNineJumbo1600.jpg" style="width: 500px;">
                        <p style="font-size: 12px;font-family: Lora, serif;font-style: italic;padding-top: 5px;">Nguồn: Báo New York Times</p>
                    </div>
                    <p style="font-family: Lora, serif;text-align: justify;padding-right: 15px;">Hiện nay người ta vẫn chưa chắc chắn về việc liệu tất cả các bệnh ung thư đặc biệt là ung thư có thể phát hiện ở giai đoạn sớm như ung thư vú với chụp xquang tuyến vú hay ung thư tiền liệt tuyến với xét nghiệm kháng nguyên ung thư đặc hiệu tuyến tiền liệt (PSA), có tiến triển và gây đe dọa tính mạng bệnh nhân hay không. Tuy nhiên việc phát hiện bệnh sớm chắc chắn sẽ giúp tăng khả năng chữa khỏi bệnh. Khi ung thư không thể chữa khỏi như trong nhiều trường hợp ung thư ở giai đoạn tiến triển, điều trị đa mô thức với xạ trị, hóa trị và hoặc phẫu thuật có thể nâng cao chất lượng cuộc sống của bệnh nhân cũng như kéo dài thời gian sống thêm. Tuy nhiên, ở một số bệnh nhân khác, đặc biệt có nhiều bệnh kết hợp, khả năng dung nạp điều trị kém, chăm sóc giảm nhẹ có thể là lựa chọn tốt nhất.<br></p>
                    <p style="font-family: Lora, serif;text-align: justify;padding-right: 15px;">Từ lâu, các bác sĩ đã nhận ra rằng cùng một căn bệnh có thể có biểu hiện khác nhau từ bệnh nhân này sang bệnh nhân khác và không có phương pháp điều trị chung cho tất cả. Thuốc điều trị ung thư chính xác giúp chẩn đoán ung thư và các bệnh khác chính xác hơn và đánh giá cấu trúc di truyền cụ thể của các khối u để chọn phương pháp điều trị an toàn và hiệu quả nhất cho chúng.<br></p>
                </div>
                <div style="text-align: center; padding-right: 15px;">
                    <img class="img-fluid" src="~/photo/Happy-Paitent.jpg" style="width: 500px;">
                </div>
                <p style="font-family: Lora, serif;text-align: justify;padding-right: 15px;margin-top: 8px;">Trong bệnh ung thư, y học chính xác thông qua việc kiểm tra DNA từ khối u của bệnh nhân để xác định các đột biến hoặc các thay đổi di truyền khác dẫn đến bệnh ung thư của họ. Sau đó, bác sĩ có thể chọn phương pháp điều trị ung thư của một bệnh nhân cụ thể phù hợp nhất hoặc nhắm mục tiêu, thủ phạm gây đột biến DNA của khối u. Các liệu pháp như vậy đang cho thấy độ hiệu quả cao và dần được ứng dụng rộng rãi hơn trong nhiều năm trở lại đây, đem lại tia hy vọng cho nhiều bệnh nhân ưng thư trên toàn thế giới.<br></p>
                <p style="font-family: Lora, serif;text-align: justify;padding-right: 15px;">Thông qua việc thu thập dữ liệu từ các nguồn tài liệu có uy tín, chúng tôi đã tập hợp lại và tạo thành một cơ sở dữ liệu tập trung. Các thông tin về đột biến sẽ được đính kèm với loại thuốc và liệu trình tương ứng được áp dụng thành công trước đó, từ đó sẽ làm cơ sở để các bác sĩ đưa ra phác đồ điều trị phù hợp đối với từng bệnh nhân.<br></p>
            </div>
        </div>
    </div>
</div><!-- body-row END -->