@model dynamic

@{
    ViewBag.Title = "Ung thư gan";
    Layout = "_Layout";
}

<div class="row" id="body-row">
    @await Html.PartialAsync("_PartialSidebar")
    <!-- MAIN -->
    <div class="col">

        <div class="row">
            <div class="col">
                <div style="margin-top: 26px;">
                    <h1 style="font-weight: bold;">Ung thư gan</h1>
                    <p style="text-align: justify;padding-right: 15px;">Ung thư biểu mô tế bào gan (HCC) và ung thư biểu mô đường mật trong gan (ICC) là hai dạng phổ biến nhất của ung thư gan nguyên phát (PLC); chúng là nguyên nhân phổ biến thứ ba gây tử vong liên quan đến ung thư trên toàn thế giới. Theo Nghiên cứu Gánh nặng Bệnh tật Toàn cầu, vào năm 2015, trên toàn cầu có hơn 850.000 trường hợp mắc ung thư gan và hơn 800.000 trường hợp tử vong. Trong khi tỷ lệ tử vong được chuẩn hóa theo độ tuổi do ung thư gan đã giảm đáng kể trong vài thập kỷ qua ở nhiều khu vực có tỷ lệ mắc bệnh cao bao gồm châu Á, châu Phi và Nam Mỹ, các nước phương Tây như Hoa Kỳ và Canada đã tăng lên. Bệnh gan mãn tính có khuynh hướng phát triển bệnh HCC; gần 85% các trường hợp là do các nguyên nhân được cho là có thể phòng ngừa được như rượu và viêm gan siêu vi. Do đó, chúng tôi kỳ vọng rằng với những cải thiện trong giáo dục, thực hành, chính sách và phòng ngừa sức khỏe, gánh nặng toàn cầu của bệnh ung thư gan do các yếu tố nguy cơ này có thể tiếp tục giảm. Ví dụ, các phương pháp điều trị chống vi rút đã trở nên hiệu quả cao và phổ biến rộng rãi. Các tác nhân kháng vi-rút trực tiếp (DAA) chống lại HCC đã giúp cho phần lớn bệnh nhân nhiễm bệnh mãn tính có thể loại bỏ vi-rút, với sự ổn định hoặc cải thiện sức khỏe gan sau đó. Thật không may, một số nghiên cứu đã báo cáo rằng việc loại bỏ HCV bằng DAA có thể thúc đẩy HCC mới hoặc tái phát. Trong khi phát hiện này chưa được đưa ra trong các nghiên cứu lớn hơn, cuộc tranh luận ẫn tiếp tục về tác động ban đầu của DAA đối với HCC. Tuy nhiên, cần thận trọng tiếp tục theo dõi và khảo sát các gan được điều trị HCV cho sự phát triển của PLC cho đến khi các nghiên cứu dài hạn hơn có thể cung cấp bằng chứng tốt hơn để thiết lập các hướng dẫn sàng lọc quần thể HCV chính xác và hiệu quả hơn.<br></p>
                    <div style="text-align: center;padding-right: 15px;">
                        <img class="img-fluid"  src="~/photo/LiverCancerRibbon.jpg" style="width: 500px;">
                        <p style="font-size: 12px;font-style: italic;padding-top: 5px;">Ảnh: Dải ruy băng màu xanh lá cây là biểu tượng quốc tế về nhận thức ung thư gan</p>
                    </div>
                    <p style="text-align: justify;padding-right: 15px;">Dự đoán tiên lượng và phân bổ điều trị là quá trình cực kỳ phức tạp ở bệnh nhân ung thư biểu mô tế bào gan (HCC), bởi vì khi khối u này phát sinh, trong hầu hết các trường hợp, ở bệnh nhân xơ gan và các bệnh kèm theo. Gánh nặng của khối u, mức độ rối loạn chức năng gan và tình trạng chung của bệnh nhân là những yếu tố chính quyết định tiên lượng và lựa chọn phương pháp điều trị. Một số chiến lược điều trị đã thể hiện lợi ích sống còn cho bệnh nhân HCC trong các thử nghiệm ngẫu nhiên có đối chứng và trong các nghiên cứu thuần tập khác nhau. Ví dụ về những điều này bao gồm ghép gan (LT) và cắt gan (LR), cắt bỏ khối u (ABL), các liệu pháp nội động mạch (IAT) như hóa trị hoặc thuyên tắc vô tuyến và liệu pháp toàn thân với các loại thuốc khác nhau như sorafenib, lenvatinib, regorafenib , cabozantinib, ramucirumab, và các chất ức chế điểm kiểm soát miễn dịch. Đối với hầu hết các bệnh ung thư đặc biệt, hệ thống phân giai đoạn nhằm tiên lượng thời gian sống sót đã không liên kết từng giai đoạn với một lựa chọn điều trị ưu tiên.<br></p>
                    <p style="text-align: justify;padding-right: 15px;">Tính đặc thù của bệnh nhân HCC (tức là có nhiều biến số tiên lượng cơ bản bên cạnh các đặc điểm của khối u và sự sẵn có của một số phương pháp điều trị dựa trên bằng chứng) đã thúc đẩy sự ra đời của một phương pháp tiếp cận khác, liên kết các biến số tiên lượng với quyết định điều trị, do đó tạo ra các hệ thống tiên lượng đồng thời đề xuất chỉ định điều trị. Các hệ thống này đang dần được công nhận và áp dụng rộng rãi, đem lại tia hy vọng mới cho các bệnh nhân ung thư gan.<br></p>
                    <div style="text-align: center; padding-right: 15px;">
                        <img class="img-fluid" src="~/photo/cancerfeature_1280x720.jpg" style="width: 500px;">
                    </div>
                    <p style="text-align: justify;padding-right: 15px;margin-top: 15px;">Tóm lại, những tiến bộ song song trong khoa học sự sống, các liệu pháp điều trị miễn dịch và nhắm mục tiêu phân tử đã tạo nên một cuộc cách mạng trong cách tiếp cận của chúng tôi trong việc điều trị các bệnh ung thư kháng hóa chất truyền thống như HCC. Kỷ nguyên y học phân tử mới này mang lại hy vọng và độ chính xác cho việc chăm sóc cá nhân hóa; tuy nhiên, tình trạng thông tin hiện tại có thể quá tải. Dữ liệu bộ gen phức tạp không thể được dịch trực tiếp sang đầu dò mà không phân tích chúng trong khuôn khổ sinh học thích hợp và cung cấp bằng chứng hỗ trợ sự liên quan về chức năng của chúng.<br></p>
                </div>
            </div>
        </div>
    </div><!-- Main Col END -->
</div><!-- body-row END -->
