@model dynamic

@{
    ViewBag.Title = "Quy trình hoạt động";
    Layout = "_Layout";
}

<div class="row" id="body-row">
    @await Html.PartialAsync("_PartialSidebar")
    <!-- MAIN -->
    <div class="col" style="margin-left: 5px;">
        <div class="row">
            <div class="col">
                <div style="margin-top: 26px;">
                    <h1 style="font-family: Lora, serif;font-weight: bold;">Hệ thống phát hiện biến thể có ảnh hưởng đến bệnh ung thư<br></h1>
                    <p style="font-family: Lora, serif;text-align: justify;padding-right: 15px;">Bệnh ung thư xảy ra là do sự nhân lên của không kiểm soát được của tế bào. Nguyên nhân cho việc nhân lên không kiểm soát này chủ yếu đến từ những đột biến (đột biến là một dạng của biến thể, nhưng xuất hiện với tần suất thấp trong một quần thể) nằm trên những gen mang chức năng điều chỉnh sự phát triển của tế bào. Hầu hết những đột biến xuất hiện trên các gen này làm tăng nguy cơ mắc bệnh ung thư ở người.<br>Hiện nay, bộ kit xét nghiệm của Đại Học Y Hà Nội sử dụng, đang tập trung giải trình tự trên 50 gen có liên quan đến các bệnh ung thư, sau có thể mở rộng đến 400 gen. Việc giới hạn phạm vi phát hiện biến thể trên 50 gen, kỳ vọng sẽ giúp giảm đáng kể thời gian tính toán, nhưng vẫn giữ được hiệu quả trong việc phát hiện và hỗ trợ điều trị bệnh ung thư.<br></p>
                    <div style="text-align: center;padding-right: 15px;">
                        <img class="img-fluid" src="~/photo/50genes.png" style="width: 500px;">
                        <p style="font-size: 12px;font-family: Lora, serif;font-style: italic;padding-top: 5px;">50 gen mục tiêu có liên quan đến ung thư của bộ kit xét nghiệp Đại Học Y Hà Nội<br></p>
                    </div>
                    <p style="font-family: Lora, serif;text-align: justify;padding-right: 15px;">Một hệ thống phân tích DNA phát hiện biến thể gen về cơ bản bao gồm 5 bước: Kiểm định chất lượng đoạn đọc DNA và tiền xử lý đoạn đọc, Dóng hàng đoạn đọc lên bộ gen tham chiếu, Phát hiện biến thể và cuối cùng là Chú thích biến thể.<br></p>
                    <div style="text-align: center;padding-right: 15px;">
                        <img class="img-fluid" src="~/photo/process.png" style="width: 500px;">
                        <p style="font-size: 12px;font-family: Lora, serif;font-style: italic;padding-top: 5px;">Luồng làm việc của hệ thống phát hiện biến thể trên 50 gen<br></p>
                    </div>
                    <div style="text-align: center;padding-right: 15px;"></div>
                </div>
            </div>
        </div>

    </div><!-- Main Col END -->
</div><!-- body-row END -->
