@model dynamic

@{
    ViewBag.Title = "Quy trình hoạt động";
    Layout = "_Layout";
}

<div class="row" id="body-row">
    @await Html.PartialAsync("_PartialSidebar")
    <!-- MAIN -->
    <div class="col">

        <div class="row">
            <div class="col">
                <p>Nội dung quy trình</p>
            </div>
        </div>
    </div><!-- Main Col END -->
</div><!-- body-row END -->
